@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~stream-chat-react/dist/css/v2/index.css';
@import "@stream-io/video-react-sdk/dist/css/styles.css";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.str-chat {
  --str-chat__avatar-border-radius: 100%;
  --str-chat__channel-search-input-wrapper-border-radius: 8px;
  --str-chat__message-textarea-border-radius: 8px;
  --str-chat__message-bubble-border-radius: 8px;
}

.str-chat__theme-light {}

.str-chat__theme-dark {
  --str-chat__primary-color: #26a69a;
  --str-chat__active-primary-color: #00796b;
  --str-chat__surface-color: rgb(42, 57, 66);
  --str-chat__secondary-surface-color: #005c4b;
  --str-chat__primary-surface-color: #00695c;
  --str-chat__primary-surface-color-low-emphasis: #004d40;
  --str-chat__avatar-background-color: #ff7043;

  /** --str-chat__message-list-background-color: #0b141a; */
  --str-chat__typing-indicator-background-color: #0b141a;
  --str-chat__channel-header-background-color: #202c33;

  --str-chat__message-input-border-block-start: 1px solid rgb(42, 57, 66);
  --str-chat__message-input-background-color: #202c33;

  --str-chat__message-bubble-background-color: #202c33;
  --str-chat__channel-search-input-wrapper-background-color: #202c33;

  /* Search sidebar */
  --str-chat__channel-search-results-empty-background-color: #111b21;
  --str-chat__channel-search-results-searching-background-color: #111b21;
  --str-chat__channel-search-results-header-background-color: #111b21;
  --str-chat__channel-search-result-list-background-color: #111b21;
}

@layer overrides {
  .str-chat__theme-dark .str-chat__list {
    background-image: url("../assets/bg-dark.jpg") !important;
  }

  .str-chat__theme-dark .str-chat__main-panel {
    background-image: url("../assets/bg-dark.jpg") !important;
  }

  .str-chat__theme-light .str-chat__list {
    background-image: url("../assets/bg-light.png") !important;
  }

  .str-chat__theme-light .str-chat__main-panel {
    background-image: url("../assets/bg-light.png") !important;
  }

  .str-chat__theme-dark .str-chat__channel-search-bar-button--exit-search>svg>path {
    fill: #26a69a;
  }
}